<%= content_tag_for :div, @event do %>
  <div align="center">
    <h1>
      <%= "#{@event.name}" %>
      <br/><%= link_to "#{@event.url}", @event.url %>
    </h1>
      <% if policy(@event).edit? %>
        <%= link_to "Edit", edit_event_path, class: 'btn btn-success' %>
        <%= link_to "Delete", event_path(@event), method: :delete, remote: true, class: 'btn btn-danger' %>
      <% end %>
  </div>
<% end %>





